@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* MODIFICATION */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bcolor: #EEEEEE;
    --bgcolor1: #0216D0;
    --bgcolor2: #00770a6e;
    --bgcolor3: #096d00;
    --bgcolor4: #ffee00;
    --tcolor: #EEEEEE;
    --tcolor1: #000000;
    --hcolor: #0216D0;
    --tfont: 'Josephin Sans', sans-serif;
}

::-webkit-scrollbar {
    background-color: grey;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #242424;
}

body {
    font-family: var(--tfont);
    background: var(--bcolor);
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--tcolor);
}

section {
    margin: 40px 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 40px;
}

/* NAVIGATION */
nav {
    padding: 15px 200px;
    background: var(--bgcolor2);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

nav h1 {
    color: var(--tcolor);
    text-transform: uppercase;
}

.nav-link {
    transition: all .3s ease-in;
    font-size: 20px;
}

.nav-link:hover {
    color: var(--bgcolor4);
}

nav ul .nav-link {
    margin: 0 30px;
}

.nav-link.signin {
    background: var(--bgcolor3);
    border-radius: 50px;
    padding: 20px 40px;
    font-size: 22px;
    cursor: pointer;
}

.nav-link.signin:hover {
    color: var(--tcolor);
    background: var(--bgcolor1);
}

/* VIDEO */
.video-container video {
    object-fit: cover;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

/* RATES */
.rates-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.rates {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.rates-container .rates-title {
    margin: 15px 0;
    color: var(--hcolor);
    text-transform: uppercase;
    border-bottom: 5px solid black;
    text-align: center;
    padding-bottom: 10px;
    width: 200px;
    border-radius: 20px
}

.rates-container .rates-subtitle {
    padding: 20px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--tcolor);
    background: var(--bgcolor1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.entrance,
.cottages,
.rooms {
    border: 1px solid #000;
    border-radius: 20px
}

.entrance h6,
.cottages h6,
.rooms h6 {
    padding: 10px 0;
    font-size: 1.1rem;
}

.rates table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.rates table thead th {
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 600;
}

.rates table tbody tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: all .3s ease;
}

.rates table tbody tr:hover {
    background: var(--bgcolor2);
    color: var(--tcolor1);
}

.rates table tr td {
    padding: 20px 10px;
}

.rates table tr td:nth-child(1) {
    text-align: start;
}

.rates table tr td:nth-child(2) {
    text-align: center;
}

.rates table tr td:nth-child(3) {
    text-align: end;
}

.rates .rooms table tr td:nth-child(1) {
    text-align: start;
}

.rates .rooms table tr td:nth-child(2) {
    text-align: center;
}

.rates .rooms table tr td:nth-child(3) {
    text-align: center;
}

.rates .rooms table tr td:nth-child(4) {
    text-align: end;
}

.gallery-container .gallery-title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 20px;
    color: var(--hcolor);
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
}