/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Sans:ital,wght@0,300;0,400;0,500;1,700&family=Lobster&display=swap');

/* MODIFIER */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    background-color: hsl(207, 4%, 15%);
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: hsl(207, 4%, 25%);
    border-radius: 2rem;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: hsl(207, 4%, 65%);
}

body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    flex: 1;
}

#gotoTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#gotoTop:hover {
    background-color: #0056b3;
}

/* HAMBURGER MENU */
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
    color: #ffffff;
}

nav .closeMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
    color: #ffffff;
}

/* NAVIGATION BAR */
nav {
    background: linear-gradient(rgb(47, 47, 185), green);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

nav .logo {
    display: inline-flex;
    font-family: 'Baloo Da 2', cursive;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #00fff2;
    margin: 0 3rem;
}

nav .logo .logo-container {
    display: flex;
    align-items: center;
}

nav .logo img {
    width: 50px;
    height: 50px;
}

.menu li {
    background: rgb(1, 145, 1);
    display: inline-flex;
    margin: 2px;
    transform: skewX(-25deg);
    padding: 8px;
}

.menu li:hover {
    background: rgb(0, 204, 255);
}

.menu li .main-menu {
    transform: skewX(25deg);
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
    padding: 1rem 2rem;
}

.menu .main-menu:hover {
    color: #000000;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: 'Josefin Sans', sans-serif;
}

.contact-container h2 {
    margin: 2rem 0;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin: 20px 0;
}

.form-group input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    background-color: #004e03;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3rem;
}

.form-group .area {
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: 1.1rem;
    resize: none;
}

.form-group input[type="submit"]:hover {
    background-color: #45a049;
}

.contactMessage {
    font-family: 'Baloo Da 2', cursive;
    font-weight: 800;
    font-size: 30px;
    position: absolute;
    bottom: 4.5rem;
    left: 25rem;
}

/* Status color */
.color-red {
    color: hsl(4, 71%, 50%);
}

.color-blue {
    color: hsl(123, 100%, 22%);
}

.google-map iframe {
    margin: 0 50px;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.404);
}

.social-icon a {
    color: #004e03;
}

.social-icon i {
    display: block;
    font-size: 5rem;
    margin: 50px 0;
}

.social-icon i:hover {
    color: #1900ff;
}

/* FOOTER */
footer {
    background: linear-gradient(rgb(47, 47, 185), green);
    padding: 20px;
    text-align: center;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    flex-shrink: 0;
}

/* RESPONSIVE */
/* MOBILE */
@media screen and (max-width: 768px) {
    nav .menu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: top .5s ease;
        background: #02008b;
        opacity: .8;
        display: none;
    }

    nav .menu li {
        background: none;
        transform: none;
        border-bottom: 2px solid #ffffff;
    }


    .menu li:first-child {
        border-top: 2px solid #ffffff;
    }

    nav .menu li:hover {
        background: none;
    }

    nav .menu li .main-menu {
        font-size: 2rem;
        color: #ffffff;
        transform: none;
    }

    nav .menu .closeMenu {
        display: block;
        position: absolute;
        top: 35px;
        right: 40px;
    }

    nav .openMenu {
        display: block;
    }

    nav .logo {
        margin: .1rem;
    }

    nav .logo .logo-container h1 {
        font-size: 1rem;
    }

    nav .logo .logo-container img {
        width: 30px;
        height: 30px;
    }

    .contact-container {
        display: block;
        text-align: center;
    }

    .form-group {
        margin: auto;
    }

    .form-group input[type="text"] {
        width: 300px;
    }

    .form-group .area {
        width: 300px;
        height: 200px;
        margin-bottom: 10px;
    }

    .google-map iframe {
        margin: 10px;
        width: 300px;
        height: 300px;
    }

    .social-icon i {
        display: inline;
        font-size: 3rem;
    }
}

/* LAPTOP */
@media screen and (max-width: 1520px) {
    nav .logo {
        margin: 0;
    }

    nav .logo .logo-container h1 {
        font-size: .8rem;
    }

    nav .logo .logo-container img {
        width: 25px;
        height: 25px;
    }

    .menu li .main-menu {
        font-size: .8rem;
        padding: .2rem .8rem;
    }

    .contact-container {
        text-align: center;
    }

    .form-group {
        margin: auto 30px;
    }

    .form-group input[type="text"] {
        width: 300px;
    }

    .form-group .area {
        width: 300px;
        height: 200px;
        margin-bottom: 10px;
    }

    .google-map iframe {
        margin: 10px;
        width: 300px;
        height: 300px;
    }

    .social-icon i {
        margin: 10px 40px;
        font-size: 3rem;
    }
}