/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Sans:ital,wght@0,300;0,400;0,500;1,700&family=Lobster&display=swap');

/* MODIFIER */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-image: url('/assets/images/galleryBG.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    flex: 1;
}

/* HAMBURGER MENU */
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
    color: #ffffff;
}

nav .closeMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
    color: #ffffff;
}

/* NAVIGATION BAR */
nav {
    background: linear-gradient(rgb(47, 47, 185), green);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

nav .logo {
    display: inline-flex;
    font-family: 'Baloo Da 2', cursive;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #00fff2;
    margin: 0 3rem;
}

nav .logo .logo-container {
    display: flex;
    align-items: center;
}

nav .logo img {
    width: 50px;
    height: 50px;
}

.menu li {
    background: rgb(1, 145, 1);
    display: inline-flex;
    margin: 2px;
    transform: skewX(-25deg);
    padding: 8px;
}

.menu li:hover {
    background: rgb(0, 204, 255);
}

.menu li .main-menu {
    transform: skewX(25deg);
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
    padding: 1rem 2rem;
}

.menu .main-menu:hover {
    color: #000000;
}

/* SECTION */
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.header-video {
    width: 800px;
    border-radius: 2rem;
}



/* FOOTER */
footer {
    background: linear-gradient(rgb(47, 47, 185), green);
    padding: 20px;
    text-align: center;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    flex-shrink: 0;
}