/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Sans:ital,wght@0,300;0,400;0,500;1,700&family=Lobster&display=swap');

/* Modifier */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Navigation Bar */
nav {
    background: linear-gradient(rgb(47, 47, 185), green);
    padding: 15px 0 5px 0;
    display: flex;
    justify-content: space-between;
}

nav .logo {
    font-family: 'Baloo Da 2', cursive;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #00fff2;
    margin-left: 3rem;
}

.menu li {
    background: rgb(1, 145, 1);
    display: inline-flex;
    transform: skewX(-25deg);
    margin: auto;
    padding: 5px;
    transition: .5s ease-in-out;
}

.menu li:last-child {
    margin-right: 3rem;
}

.menu li:hover {
    background: rgb(0, 204, 255);
}

.menu li a {
    transform: skewX(25deg);
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
    padding: 1em 2em;
    transition: .4s ease-in-out;
}

.menu li a:hover {
    color: #000000;
}

/* Dropdown */
.menu-item {
    position: absolute;
    top: 3.6rem;
    left: 2rem;
    transform: skewX(25deg);
}

.menu-item li {
    background-color: #1360acbe;
    overflow: hidden;
}

.menu-item li .dropdown {
    padding: 1em 3em;
    text-transform: uppercase;
}

.menu-item li:nth-child(odd) {
    transform: skewX(25deg) translateX(0);
}

.menu-item li:nth-child(odd) a {
    transform: skewX(25deg);
}

.menu-item li:nth-child(odd)::after {
    right: -50%;
    transform: skewX(25deg) rotate(3deg);
}

.menu-item li:nth-child(even) {
    transform: skewX(25deg) translate(0);
}

.menu-item li:nth-child(even)>a {
    transform: skewX(-25deg);
}

/* Show dropdown */
.menu-item,
.menu-item li {
    opacity: 0;
    visibility: hidden;
}

.menu-item li {
    transition: 0.2s ease transform;
}

.menu>li:hover .menu-item,
.menu>li:hover .menu-item li {
    opacity: 1;
    visibility: visible;
}

.menu>li:hover .menu-item li:nth-child(even) {
    transform: skewX(25deg) translateX(15px);
}

.menu>li:hover .menu-item li:nth-child(odd) {
    transform: skewX(-25deg) translateX(-15px);
}

/* Section */
