/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Sans:ital,wght@0,300;0,400;0,500;1,700&family=Lobster&display=swap');

/* MODIFIER */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-image: url('images/bgo.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* HAMBURGER MENU */
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
    color: #ffffff;
}

nav .closeMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
    color: #ffffff;
}

/* NAVIGATION BAR */
nav {
    background: linear-gradient(rgb(47, 47, 185), green);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

nav .logo {
    display: inline-flex;
    font-family: 'Baloo Da 2', cursive;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #00fff2;
    margin: 0 3rem;
}

nav .logo .logo-container {
    display: flex;
    align-items: center;
}

nav .logo img {
    width: 50px;
    height: 50px;
}

.menu li {
    background: rgb(1, 145, 1);
    display: inline-flex;
    margin: 2px;
    transform: skewX(-25deg);
    padding: 8px;
}

.menu li:hover {
    background: rgb(0, 204, 255);
}

.menu li .main-menu {
    transform: skewX(25deg);
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
    padding: 1rem 2rem;
}

.menu li a:hover {
    color: #000000;
}

/* SECTION */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: .3rem;
}

.header {
    margin: 2rem 0;
    text-shadow: -8px 4px 3px rgba(0, 0, 0, 0.5);
}

.header-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 7rem;
    text-transform: uppercase;
    color: #0026ff;
}

.header-subtitle {
    font-family: 'Lobster', sans-serif;
    font-size: 6rem;
    color: #00c400;
}

/* SWIPER */
.swiper-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .3s ease-in-out;
}

.swiper-slide img {
    height: 500px;
    width: 100%;
    transition: .3s ease-in-out;
}

/* FOOTER */
footer {
    background: linear-gradient(rgb(47, 47, 185), green);
    padding: 20px;
    text-align: center;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* RESPONSIVE */

/* for laptop */
@media screen and (max-width: 1440px) {
    nav .logo {
        font-size: 1.3rem;
    }

    nav .logo img {
        width: 40px;
        height: 40px;
    }

    .menu li .main-menu {
        padding: .6em 1.5em;
    }

    .header-title {
        font-size: 6rem;
    }

    .header-subtitle {
        font-size: 5rem;
    }

    .swiper-container {
        max-width: 700px;
    }

    .swiper-slide img {
        height: 430px;
    }
}

@media screen and (max-width: 1024px) {
    nav .logo {
        font-size: 1rem;
    }

    .menu li .main-menu {
        padding: .3em 1em;
        font-size: .8rem;
    }

    .header-title {
        font-size: 4rem;
    }

    .header-subtitle {
        font-size: 3.5rem;
    }

    .swiper-slide img {
        height: 500px;
    }
}

/* for tablet */
@media screen and (max-width: 800px) {
    nav .menu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: top .5s ease;
        background: #02008b;
        opacity: .8;
        display: none;
    }

    nav .menu li {
        background: none;
        transform: none;
        border-bottom: 2px solid #ffffff;
    }


    .menu li:first-child {
        border-top: 2px solid #ffffff;
    }

    nav .menu li:hover {
        background: none;
    }

    nav .menu li .main-menu {
        font-size: 2rem;
        color: #ffffff;
        transform: none;
    }

    nav .menu .closeMenu {
        display: block;
        position: absolute;
        top: 35px;
        right: 40px;
    }

    nav .openMenu {
        display: block;
    }

    .swiper-container {
        max-width: 500px;
    }

    .swiper-slide img {
        height: 400px;
    }
}

/* for Mobile */
@media screen and (max-width: 425px) {
    nav .logo {
        margin: 0 .1rem;
    }

    .header-title {
        font-size: 4rem;
    }

    .header-subtitle {
        font-size: 2rem;
    }

    .swiper-container {
        max-width: 300px;
    }

    .swiper-slide img {
        height: 300px;
    }

    footer {
        font-size: .8rem;
    }
}